[Unit]
Description=The Lounge podman container

[Service]
ExecStart=/usr/bin/podman start -a thelounge
ExecStop=/usr/bin/podman stop -t 10 thelounge
Restart=on-failure

[Install]
WantedBy=default.target
